html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.55rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  body::-webkit-scrollbar-thumb {
    background:#153d6f;
  }
  
  
  .navbar{
    position: fixed;
    background: none;
    backdrop-filter: blur(10px);
    transition: width 200ms ease;
    overflow: visible;
    outline-style: groove;
    outline-color: #bd9c6c;

    z-index: 100;
   
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
    
  .logo {
    margin-bottom: 1rem;
    background: white;
    width: 100%;
  }

  .navbutton{
    background: none;
    border-style: none;
    border-width: 1px;
    border-left-width: 0px;
    margin-top: 10px;
  }

  .navbutton:hover {
    background-color: #bd9c6c;

  }
  
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
      
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 3.3rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 4.5rem;
    }
  
  }
  
  
/* Style the header */
.header {
  padding: 10px 16px;
  background-color: white;
  color: #f1f1f1;
  outline: groove;

  z-index: 50;

}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.ugcslogo{
  padding-left: 70px;
  padding-top: 20px;
}

.facebooklogo{
  outline: none;
  position: fixed;
  right: 50px;
  top: 40px;
  background: none;
}

.twitterlogo{
  outline: none;
  position: fixed;
  right: 100px;
  top: 40px;
  background: none;
}

.instalogo{
  outline: none;
  position: fixed;
  right: 150px;
  top: 40px;
  background: none;
}

button{
  background-color: white;
  border: none;
}

.main-content{
    text-align: center;
    margin: 100px;
}

.navicons{
    margin: 15px;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #153d6f;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

h1 {
    color: white;
    margin-bottom: 100px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.aboutelements{
  display: inline-flex;
  outline-style: groove;
  outline-color: white;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 8px;
  margin: 40px;
  
}

.img1{
  border-radius: 12px;
  margin-top: 25px;
  outline-style: groove;
  outline-color: white;
  
}

.section-text{
  font-size: 20px;
  color: white;
  background-color: none;
  padding: 5px;
  position: relative;
  text-align: left;
  margin-left: 30px;
  line-height: 1.6;
  
  
}

.section-text:hover{
  color: #bd9d6c;
  cursor: pointer;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#about-sec{
  background: none;
  width: 600px;
  position: relative;
  right: 100px;
}

.aboutbutton{
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 35px;
  padding-right: 20px;
  padding-left: 20px;
  outline-style: groove;
  outline-width: 2px;
  outline-color: white;
  position: relative;
}

.programbutton{
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 35px;
  padding-right: 20px;
  padding-left: 20px;
  outline-style: groove;
  outline-width: 2px;
  outline-color: white;
  position: relative;
}

.aboutbutton:hover,.programbutton:hover{
  background-color: white;
  outline-color: #bd9d6c;
  color: #010165;
  animation-name: bounce;
}

.coursetypes{
  display: inline-flex;
}
.programcards{
  margin: 15px;
  text-align: center;
  border-radius: 7px;
  font-size: 13px;
  width: 250px;
  height: 190px;
  top: 500px;
  background: none;
  outline-style: groove;
  outline-color: white;
  backdrop-filter: blur(15px);
  
}

.programcards:hover{
  cursor: pointer;
}

.scname{
  background-color: #bd9d6c;
  font-size: 20px;
  padding: 5px;
  color: white;
}

.scname:hover{
  background-color: #153d6f;
  cursor: pointer;
}

.sctext{
  color: white;
}

.sctext:hover{
  color: #bd9d6c;
}

.readmore{
  color: #bd9d6c;
}

.readmore:hover{
  cursor: pointer;
}

footer{
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 100px;
  backdrop-filter: blur(10px);
  outline: white;
  outline-style: groove;
  border-radius: 8px;
  padding: 20px;
  color: white;
  display: inline-flex;
  line-height: 1.9;
}

a:link{
  margin-top: 50px;
  color: white;
  text-decoration: underline;
}

a:visited{
  margin-top: 50px;
  color: white;
  text-decoration: none;
}

a:hover{
  color: #bd9d6c;
  text-decoration: none;
}

.Admissions,.Research,.ContactUs,.location{
  margin: 20px;

}

strong{
  margin: 10px;
}

.aboutus{
  text-align: center;
}

main {
  backdrop-filter: blur(10px);
  margin: 90px;
  margin-right: 20px;
  outline-color: white;
  outline-style: groove;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 20px;
}

.welcometxt{
  line-height: 1.6;
  font-size: 20px;
  font-weight: lighter;
}

#goldbitch{
  color: #bd9d6c;
}

.ourorg,.ourcom,.dislearn,.buildingour{
  display: inline-flex;
  text-align: left;
}

.aboutimg{
  border-radius: 8px;
  margin: 30px;
}

.ourorgtxt,.ourcomtxt,.dislearntxt,.buildingourtxt{
  text-align: justify;
  padding: 40px;
  line-height: 2.0;
}

.aboutvid{
  border-radius: 8px;
}

.shortcp{
  display: inline-flex;
}

.regicons{
  background-color: white;
  border-radius: 8px;
  padding: 2px;
}

.register{
  padding: 15px;
  background: none;
  color: white;
  border-radius: 8px;
  outline-style: groove;
  outline-color: white;
}

.register:hover{
  background-color: #153d6f;
  cursor: pointer;
  color: white;
}

.mphilimg{
  width: 473px;
  height: 280px;
  margin-top: 70px;
  border-radius: 8px;
}

.collapsible {
  background: none;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  float: left;
  border-radius: 8px;
  margin: 10px;
  margin-left: 0px;
  outline-style: groove;
  outline-color: white;
}

.collapsible2{
  background: none;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  
  border-radius: 8px;
  margin: 10px;
  margin-left: 0px;
  outline-style: groove;
  outline-color: white;
}

.active, .collapsible:hover, .collapsible2:hover {
  background-color: #bd9c6c;
}

.collapsible:after, .collapsible2:after {
  content: '\002B';
  background: none;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: none;
  width: 100%;
  color: white;
  border-radius: 8px;
  line-height: 1.6;
  text-align: left;
}

.title{
  text-align: left;
  
}

.title2{
  text-align: left;
}

.cssect,.itsect{
  margin: 30px;
  

}


.collapsection{
  display: inline-flex;
}

h1{
  text-align: center;
}

object{
  border-radius: 8px;
  background: none;
  outline-style: groove;
  outline-color: white;
}

.upcoming{
  background-color: #bd9c6c;
  outline-style: groove;
  outline-color: white;
  padding: 10px;
  border-radius: 8px;
}

.upcoming:hover{
  background-color: #153d6f;
}

.pe{
  border-radius: 8px;
  margin: 20px;
  outline-color: white;
  outline-style: groove;
}